/* COMMON CLASSES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

ul {
  list-style-type: none;
}

.no-decoration-text {
  text-decoration: none;
}

.extra-opacity {
  opacity: 0.2;
}

.text-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}

.special-li {
  padding-top: 10px;
  display: inline-block;
  position: relative;
}

.coming-soon {
  color: #93BCF6;
  background-color: inherit;
  font-size: 8px;
  position: absolute;
  right: -50px;
  bottom: 17px;
}

.style-button {
  opacity: 0.8;
  padding: 15px 25px;
  border-radius: 15px;
  transition: 0.5s;
}

.left-pad-0 {
  padding-left: 0;
}
.right-pad-0 {
  padding-right: 0;
}

/* COMMON CLASSES*/
nav {
  justify-content: space-between;
  max-width: 86rem;
  margin: 0 auto;
  position: relative;
  background-color: inherit;
  color: inherit;
  padding: 3rem 0;
}

nav li {
  padding: 10px 0;
  padding-right: 25px;
}

nav li a {
  opacity: 0.7;
  transition: 0.5s;
}

nav li a:hover {
  opacity: 1;
  transition: 0.5s;
}

nav img {
  vertical-align: middle;
  filter: invert(1);
}

.logo {
  margin-right: 5px;
  filter: invert(0);
  height: 30px;
  vertical-align: middle;
}

.top-pad-5 {
  padding-top: 5px;
}


.login-button {
  background-color: #CED5DB;
  color: inherit;
}

.login-button:hover, .app-download:hover {
  opacity: 1;
  transition: 0.5s;
}

.app-download {
  background-color: #111;
  color: #fff;
}

.dropdown-menu {
  position: absolute;
  border-radius: 15px;
  margin-top: 20px;
  padding: 20px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 4px 0px, rgba(0, 0, 0, 0.09) 0px 8px 16px 0px;
}

.right {
  right: 0;
}

.active {
  display: flex;
}

.dropdown-menu .dropdown-title {
  color: #CED5DB;
  background-color: inherit;
  font-size: 10px;
  letter-spacing: 2px;
}

.dropdown-menu .dropdown-title .dropdown-title-img {
  padding: 4px;
  border-radius: 50%;
  background-color: #CED5DB;
  display: inline-block;
  margin-right: 5px;
  color: inherit;
}

.dropdown-menu .dropdown-title .dropdown-title-img img {
  width: 18px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  left: 0;
}
