* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 100%;
}

/* .active {
  display: block;
} */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  padding: 0 20px;
  opacity: 0.5;
}

nav {
  max-width: 86rem;
  margin: 0 auto;
  position: relative;
}

a:hover {
  opacity: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: inherit;
  color: inherit;
  padding: 2.5rem 0;
  align-items: center;
}

.active-opacity {
  opacity: 1;
}

button {
  font-weight: bold;
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  outline-width: 0;
  cursor: pointer;
  transition: 0.5s;
}

.features>button:last-child {
  margin-left: 10px;
  background-color: #111;
  color: #fff;
}

button:hover {
  opacity: 0.6;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px, rgba(0, 0, 0, 0.5) 0px 8px 16px 0px;
}

.features, .plans, .about, .help {
  display: inline-block;
  /* position: relative; */
}

.dropdown-container {
  display: none;
  position: absolute;
  right: 0;
  width: 800px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 4px 0px, rgba(0, 0, 0, 0.09) 0px 8px 16px 0px;
  border-radius: 10px;
  /* margin-right: 100px; */
  padding: 10px;
}

.dropdown-content>header>span {
  background-color: inherit;
  color: #CED5DB;
  font-weight: bold;
}

.dropdown-content {
  display: flex;
  height: 80%;
}

.icon-container {
  display: inline-block;
  width: 25px;
  padding: 3px;
  margin: 5px;
  background-color: #CED5DB;
  border-radius: 50%;
  color: inherit;
}

.icon-container>img {
  vertical-align: middle;
  filter: invert(1);
}

header>span {
  text-transform: uppercase;
  font-size: 0.7em;
}

section>a, section>div>a {
  line-height: 2.5em;
}

.dropdown-container-small, .dropdown-container-about, .dropdown-container-help {
  display: none;
  position: absolute;
  width: 170px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 4px 0px, rgba(0, 0, 0, 0.09) 0px 8px 16px 0px;
  border-radius: 10px;
  padding: 10px;
}
